# =========================
# Node.js dependencies
# =========================
**/node_modules/

# =========================
# Build outputs
# =========================
**/dist/
**/build/

# =========================
# TypeScript compiled files
# =========================
**/*.js
**/*.js.map

# =========================
# Environment variables
# =========================
**/.env

# =========================
# Logs
# =========================
**/*.log

# =========================
# VSCode settings
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Prisma
# =========================
**/prisma/migrations/
**/prisma/dev.db
